---
import Divider from "@components/Divider";
import HeadingSection from "@components/sections/HeadingSection";
import WorkExperience from "@components/sections/WorkExpSection";
import ProfessionalPortfolio from "@components/sections/ProfessionalPortoSection";
import ClientsSection from "@components/sections/ClientsSection";
import Layout from "@layouts/Layout.astro";
import SkillSetSection from "@components/sections/SkillSetSection";
---


<Layout title="Arthur Darwanto - Software Developer">
  <div class="space-y-16">
    <HeadingSection client:load />
    <Divider client:load />
    <SkillSetSection client:load />
    <Divider client:load />
    <WorkExperience client:load />
    <Divider client:load />
    <ProfessionalPortfolio client:load />
    <Divider client:load />
    <ClientsSection client:load />
  </div>
</Layout>
