<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href=""/>
    <meta name="generator" content={Astro.generator} />
    <title>Arthur Darwanto</title>
    <meta
      name="description"
      content="Hello there! I'm Arthur Darwwanto, a software engineer based in Indonesia and I love programming."
    />
    <meta 
      name="keywords"
      content="Arthur Darwanto, Darwanto Arthur, software engineer, web developer, front-end developer, full-stack developer, software developer, react developer, react native developer, nodejs, nestjs"
    />
    <style>
      @font-face {
        font-family: 'Bricolage Grotesque';
        src: url('/fonts/BricolageGrotesque.ttf') format('ttf');
        font-display: swap;
      }
    </style>
  </head>
  <body class="h-full antialiased">
    <div
      class="mx-auto mt-8 max-w-screen-lg w-full px-4 py-12 lg:pt-16 lg:pb-28"
    >
      <slot />
    </div>
  </body>
</html>